/**index.less**/
page {
  display: flex;
  flex-direction: column;
  color: #09090b;
  background-color: rgb(243, 244, 246);
  padding: 48rpx 0;
}

.radio-group {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 48rpx;
  margin-bottom: 48rpx;

  .label {
    display: flex;
  }
}

.wrapper {
  width: 680rpx;
  margin: 0 auto;
  border-radius: 8rpx;
  border: 1px solid #f5f7f8;
  background-color: #fff;
  padding: 48rpx;
  box-sizing: border-box;
  box-shadow: 0 0 #0000;

  .title {
    font-size: 48rpx;
    padding-bottom: 48rpx;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
  }

  .submit {
    margin-top: 48rpx;
    width: 100%;
    background-color: #18181b;
    color: #fff;
  }

  .result {
    margin-top: 48rpx;
    font-size: 36rpx;
    font-weight: 600;
    text-align: center;
  }


}

.item {
  font-size: 32rpx;
  margin-top: 32rpx;
  display: block;

  .tips {
    font-size: 24rpx;
    color: red;
  }

}

.input {
  border-radius: 16rpx;
  height: 48rpx;
  line-height: 48rpx;
  border: 1px solid #f5f7f8;
  padding: 16rpx 24rpx;
  margin-top: 16rpx;
}